* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    color:#FFF;
    background:url('img/home_background.png');
}
h3 {
    font-size:1em;
    font-weight:900;
    color:#FFF;
}

#content {
    width: 100%;
    max-width:950px;
    padding:15px;
    margin: 0 auto;
    text-align: center;
}
.recipe {   
    background:#f1f1f1;
    max-width:350px;
    height:350px;
    position:relative;
    display:inline-block;
    overflow:hidden;
    font-size: 20px;
    margin:0 10px 10px 0;
    -webkit-border-radius:0 0 7px 7px;
    border-radius:0 0 7px 7px;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.btn-primary{
    background-color: #ff8000 !important;
    border-color: #ff8000 !important;
}
.btn-primary:hover{
    background-color: #cc6600 !important;
    border-color: #cc6600 !important;
}
#addNewRecipe {
    background-color: #FFF !important;
    border-color: #049534 !important;
    color: #049534;
}
#addNewRecipe:hover {
    background-color: #f1f1f1 !important;
    border-color: #049534 !important;
}
p{
    word-wrap: break-word;
}
.image {
    height:200px;
    overflow:hidden;
    position:relative;
}
.image img{
    width:100%;
    transition: all 1s ease;
    margin-top:-70px;
}
.recipe:hover img{
    transform: scale(1.2) rotate(-3deg);
    -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
    -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}
.fa-heart-o:hover {
    animation-name: pulse; 
    animation-duration: 0.5s; 
    animation-iteration-count: infinite; 
    -webkit-animation-name: pulse; 
    -webkit-animation-duration: 0.5s; 
    -webkit-animation-iteration-count: infinite; 
}
.name {
    width:100%;
    height:35px;
    background:#ff8000;
    opacity: 0.85;
    filter: alpha(opacity=85); /* IE8 and Lower */
    zoom: 1; /* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
    overflow:hidden;
    position:absolute;
    bottom:0;
    text-align: center;
    vertical-align: middle;
    line-height: 17px; 
    text-shadow: 1px 1px 2px rgba(51, 145, 135, 1);
    border-bottom:2px solid #138613;
}
.name_extended{
    width:100%;
    height:100px;
    background:#4ABFB4;
    opacity: 0.85;
    filter: alpha(opacity=85); /* IE8 and Lower */
    zoom: 1; /* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
    overflow:hidden;
    position:absolute;
    bottom:0;
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    text-shadow: 1px 1px 2px rgba(51, 145, 135, 1);
    border-bottom:1px solid #804000;
}
.media {
    width:100%;
    font-size:0.7em;
    color:#777;
    padding:15px;
    text-align: left;
    vertical-align: middle;
    line-height: 12px;

}
.media li {
    display:inline-block;
    padding:0 7px;
}

a:link, a:visited {color: #339187; text-decoration:none;font-weight:700;}
a:hover {color: #D61650;text-decoration:none;}
a:active {text-decoration:underline;}

/* Pulse Animation for Firefox, Opera and Internet Explorer 10 */
@keyframes pulse {
    from {
        transform: scale(1.0);
        opacity: 1.0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1.0;
    }
    to { 
        transform: scale(1.0);
        opacity: 1.0;
    }
}
/* Pulse Animation for Google Chrome and Safari */
@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1.0);
        opacity: 1.0;
    }
    50% {
        -webkit-transform: scale(1.2);
        opacity: 1.0;
    }
    to { 
        -webkit-transform: scale(1.0);
        opacity: 1.0;
    }
}

/** Return to top **/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #ff8000 !important;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/** NavBar **/
li .nav-link{
    border-radius: 8px;
    background-color: #C8C8C8;
}
li .nav-link:hover {
    border-radius: 8px;
    background-color: #4ABFB4;
}
nav{
    background-color: #ff8000 !important;
}

#Goback_recipe_1 {
    float:left;
    margin-right: 5px;
    font-size:25px; 
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    display: none;
    margin-left:5%;
}
#Goback_recipe_1 i{
    color:#fff; 
}
#Goback_recipe_2 i{
    color:#fff; 

}
#recipe_details{
    display: none;
}

.text-block {
    position: absolute;
    text-align: center;
    color: #777;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.noRecimeName{ 
    position: absolute;
    text-align: center;
    color: #777;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.blog-roll-post{
    float: left;
}
#recipe_content {
    background-color: white;
    color: black;
    width:100%;
    box-shadow: 10px 9px 30px -12px rgba(0,0,0,0.75);
    height: 100%;
    padding: 10px;
    text-align: center;
}
#left_hand{
    margin-top: 5%;
    text-align: left;
    width: 45%;
    margin-left: 5%;
}
#right_hand{
    margin-top: 5%;
    text-align: right;
    width: 45%;
    margin-right: 5%;
    text-align: justify;
}
#deleteRecepi{
    margin-bottom: 5%;
}
#right_hand h4,
#left_hand h4{
    font-weight: 800;
    color:#138613;
}
#left_hand li i{
    color:#138613;
}
.h4_mod{
    font-size: 15px
}
.media h4{
    font-size:13px
}
.media div label:nth-child(1){
    float:left;
    margin-right: 1%;
}
.media p{
    text-align: justify;
}
.media button:nth-child(1){
    width: 50%;
    font-size: 100%;
    margin-left:3%;
}
.media button:nth-child(2){
    width: 50%;
    float:right;
    font-size: 110%;
}
.col-md-6 label{
    width: 100%;
}
/** Search Bar **/

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #049534;
    box-shadow: 0 0 0 1px #049534;

}
.active-cyan-3 input[type=text] {
    border: 1px solid #049534;
    box-shadow: 0 0 0 1px #049534;
}
.inactiveLink {
    pointer-events: none;
    cursor: default;
    color:#FFF !important;
}
#deleteRecipe{
    margin-bottom: 2%;
}
/** id color in the list view **/
.name label{
    color:#125412 !important;
}
